body {
    background-color: #f0ead2;
    text-align: center;
}

h1 {
    color: #ff6361;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 36px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    color: #008585;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

div {
    display: inline-block;
}

img {
    height: 250px;
    width: 350px;
    margin: 54px 36px 18px;
}
